@import "variables";

.navbar-1 {
    background-color: $negro;
    color: $amarillo;
    height: 50px;
    ul{
        list-style: none;
        margin: 0;
        float: right;
        padding-top: 10px;
        font-size: 1.2rem;
        padding-right: 40px;
        
         li{
             display: inline;
             padding: 10px 25px;
         }

         li:hover{
             background-color: $amarillo;
             color: black;
             cursor: pointer;
         }
    }
}

.boton{
    text-decoration: none;
    color: $negro;
    font-size: 1.2rem;
    padding: 10px 30px;
    background-color: white;
    border: 1px solid $amarillo;
    margin-bottom: 5px;
    border-radius: 5px;
}

.boton:hover{
    background-color: $amarillo;
    color: white;
}

#slider{
    margin-top: 45px;
}


.container{
    h2 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 2.8rem;
        color:  $gris;
    }
}

.mas-jugados, .analisis {

    .card:hover{
        box-shadow: 5px 5px 20px  rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }
}

.mas-jugados, .analisis {

    .card-title{
        text-align: center;
        margin-top: 25px;
        font-size: 1.8rem;
    }
}


.guias{

    h3{
        font-size: 2.2rem;
        text-align: center;
        padding: 15px;
    }

    h3:hover{
        color: $amarillo;
        cursor: pointer;
    }

    .row{
        margin-bottom: 50px;
    }
}

footer{

    background-color: $negro;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
    h4{
        text-align: center;
        color: white;

        span{
            color: $amarillo;
        }
    }

    p{
        color: $amarillo-claro;
       
    }

    h5{
        text-align: center;
        color: $amarillo;
    }

    .text-center{
        h6{
            color: $amarillo;
        }
    }

    .col-sm-2{
        h6{
            color: white;
            margin-top: 15px;
        }

        h6:hover{
            color: $amarillo;
            cursor: pointer;
        }
    }
}

.redes-sociales{
    margin-top: 35px;
    margin-bottom: 25px;

    img{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
       
    }
}